mixin ad-image(post)
	if(post.images)
		-var images = post.images;
		-var ar = images.split(",");
		-var url = ar[1];
		a(href='')
			img(src=post.images , alt=post.title, class="post-img")
	else
		a(href='/' + post.slug + '.html')
			img(src='/themes/default/images/default-img.jpeg' , alt=post.title, class="post-img")
