include  ../../../mixins/cat-link
include ../../../mixins/ad-image
include ../../../mixins/ad-excerpt
include ../../../mixins/ad-city
style(type="text/css").
	.nopadding-left {
		padding-right: 0;
		padding-left: 0;
	}
	.clear{
		clear:both;
	}

.post.clearfix
	.left
		+ad-image(post)
	.right
		.post-title
			h3
				a(href='')
					+post_link(post)
		.post-tag
			div.col-md-3.nopadding-left
				span
					i.fa.fa-folder-open(aria-hidden='true')
					span.cat-link trinhnguyen
			div.col-md-3.nopadding-left
				span
					i.fa.fa-folder-open(aria-hidden='true')
					span.cat-link 
						a(href='') Thời trang nữ
			div.col-md-3.nopadding-left
				span
					i.fa.fa-folder-open(aria-hidden='true')
					+ad-city(post)
			div.col-md-3.nopadding
				span
					i.fa.fa-folder-open(aria-hidden='true')
					span.cat-link 1 phút trước
		.post-excerpt
			+ad-excerpt(post, 200) 
// end post
