include ../../../mixins/cat-link
if (data.categories && data.categories.length > 0 )
    ul
        li
            a(href='#')
                i.fa.fa-home(aria-hidden='true')
        if (data.categories && data.categories.length > 0)
            each cat in data.categories
                li
                    +cat_link(cat)
