mixin cat_link(cat)
    span.cat-link
        if (cat.type === 'Tag')
            a(href='/tag/'+cat.slug)= cat.name
        else
            a(href='/'+cat.slug)= cat.name

mixin cat_links(cats)
    if (cats && cats.length > 0)
        each cat in cats
            +cat_link(cat)
