body {
	font: 15px/32px "Roboto", Arial, sans-serif;
	background-color: #fff;
	margin: 0 auto;
}

a, a:hover, a:active, a:visited, a:focus { text-decoration: none; }
*:focus { outline: 0; }
h1,h2,h3,h4,h5,h6 { margin: 0; font-family: "Roboto Condensed", Arial, sans-serif;}

@include onSmallPhone() {
	div[class*="col-xs"] { width: 100%; }
	div[class*="col-xs-offset"] { margin: 0 }
	div[class*="-pull-"], div[class*="-push-"] { left: inherit; right: inherit; }
}