extends layout

block content
    .main-content
        .container
            .row
                .col-sm-6
                    .content
                        .content-title
                            h2 TIN MỚI NHẤT
                        .post-content
                            if (posts && posts.length > 0)
                                -var i = 0;
                                each post, i in posts
                                    if (page || i > 4)
                                        include parts/post-item
                            !=pagination
                .col-md-3.background-sidebar.col-sm-6
                    .sidebar
                        .sidebar-title
                            h3
                                i.fa.fa-star(aria-hidden='true')
                                | TIN VIP
                        .sidebar-content
                            each fp,i in featuredPosts
                                .new.col-xs-6-10
                                    figure
                                        -var url = fp.featureImage ? fp.featureImage : '/assets/themes/default/images/default-img.jpeg'; url = "url('"+url+"')";
                                        .box-new-img(style={'background-image': url})
                                        figcaption
                                            h3
                                                a(href="#")=fp.title
                                if ((i + 1) % 2 === 0)
                                    div.clearfix
                .col-md-3.col-sm-6
                    .advertise
                        img.ad-img(src='/assets/themes/default/images/ad-img.jpg')