footer.footer
    .nav-footer
        .container
            ul
                li
                    a(href='#') Giới thiệu
                li
                    a(href='#') Quy chế hoạt động
                li
                    a(href='#') Chính sách bảo mật
                li
                    a(href='#') Điều khoản sử dụng
                li
                    a(href='#') Liên hệ
    .container
        .footer-info.clearfix
            .col-md-6.col-md-offset-3
                .info
                    p Công Ty Cổ Phần Đầu Tư Và Phát Triển Công Nghệ NIB
                    p MST:55757575756
                    p Địa chỉ: 15 Dương Quãng Hàng, quận Gò Vấp, Tp.Hồ Chí Minh
                    p SĐT:0988888888
            .col-md-3
                .img-bct
                    img.logo-bct(src='/themes/default/images/logo-bct.png')


script(src='/themes/default/js/big.js')
script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js')
script(src='http://malsup.github.com/jquery.form.js')
