header.header
    .top-header
        .container
            .row
                .col-md-2.col-xs-8
                    .logo
                        a(href='/')
                            img.logo-img(src='/themes/default/images/logo.png')
                .col-xs-4.visible-sm.visible-xs.text-right
                    a.menu-toggle(href="#")
                        i.fa.fa-bars(aria-hidden='true')
    .nav-head
        .container
                include parts/category-nav
