extends layout

block content
	style(type="text/css").
		.nopadding {
			padding-right: 0;
			padding-left: 0;
		}
		.clear{
			clear:both;
			padding: 5px;
		}
		.div_form{
			width:28.5%
		}
		.btn_login{
			width: 100%;
			border-radius: 0;
		}
	.main.container
		.row
			.col-md-4.col-md-offset-4.div_form
				h3.display-4.m-b-2.text-center ĐĂNG NHẬP
				.fb-login
					a(href='/auth/facebook')
						img.logo-img(src='/themes/default/images/fb.png')
				.div.clear
				.gg-login
					a(href='/auth/google')
						img.logo-img(src='/themes/default/images/gg.png')
				.div.clear
				form(method='post')
					input(type='hidden', name='action', value='login.create')
					div.form-group
						label(for='name') Hoặc đăng nhập bằng Email / Số điện thoại	
					div.form-group
						input#username.form-control(type='email', placeholder='Email / Số điện thoại' name='username')
					div.form-group
						input#pw.form-control(type='password' placeholder='Mật khẩu' name='password')
					
					button.btn.btn-primary.btn_login(type='submit') ĐĂNG NHẬP
							